/*prevent problems with different browsers*/
* {box-sizing: border-box;}

body {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

/* Header stuff here */
header {
    background-image: url("images/beach.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem 2vw;
    display: flex;
    height: 20em;
}
header h1 {
    margin: 0;
    color: white;
}
header h2 {
    margin: 0;
    color: white;
}
header p {
    margin: 0;
    color: #1A385A;
    letter-spacing: .5px;
}

/* nav stuff goes here */
/* For phones and tablets*/
@media only screen and (max-width: 800px) {
    header {
        background-image: url("images/beach.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 1rem 2vw;
        text-align: center;
    }
    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
    }
    nav a {
        display: block;
        padding: .8rem;
        font-size: 1rem;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        border-bottom: solid 1px #eaeaea;
        color: #fff;
    }
    nav .active a {
        background-color: #769ABE;
        background-image: linear-gradient(to bottom, #769ABE, #465e75);
        color: white;
        border-radius: 3rem;
    }  
    logo {
        opacity: .5;
    }
}/*end of the media query*/

 /* bigger monitors */
@media only screen and (min-width: 801px) {

    nav ul {
        list-style-type: none;
        padding: .5rem 2vw;
        margin: 0;
        display: flex;
    }
    nav a {
        font-size: 1.5rem;
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        display: block;
        padding: .82rem 1.5rem;
    }
    nav li.active a {
        color: #1A385A;
    }
    nav a:hover {
        color: #E8AA9B;
    }
}/*end of the media query*/



/* stuff for the main */
main {
    padding: 1rem 2vw;
}
main h1 {
    color: #1A385A;
}
main h2 {
    color: #161B7F;
    margin-bottom: .2rem;
}
main h3 {
    color: #1A385A;
    margin-bottom: .2rem;
}
main p {
    color: #271B1C;
    margin: 0 0 .3rem 0;
}
main ol {
    padding: .5rem 4vw;
    background-color: #efefef;
    border: 1px solid #161B7F;
    padding-left: 45px;
}
main dl dt {
    padding: .1rem 1vw;
    color: #8D3FD0;
    font-weight: 300;
    background-color: #c9cdd2;
    width: 11rem;
    border-radius: .5rem;
}
main dl dd {
    color: #161B7F;
    font-size: 1rem;
    background-color: #efefef;
}
main ul {
    list-style-type: square;
    background-color: #efefef;
    border: 1px solid #161B7F;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main address {
    font-style: normal;
    background-color: #41B853;
    padding: .5rem;
    width: 15.5rem;
    border: 1px solid #161B7F;
    border-radius: .5rem;
}
main a {
    color: #161B7F;
}
main a:hover {
    color: #f40058;
}

/* Image stuff here */

.characterchoice {
    width: 100%;
    margin: 0;
}
.characterchoice img {
    width: 100%;
    height: auto;
}

figure.main {
    width: 55%;
    margin: 0 2% 0 0;
    float: left;
}
figure.main img {
    width: 100%;
    height: auto;
}
figure.main img:active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.7);
}
figure.main figcaption {
    text-align: center;
    font-size: .75rem;
}
figure.main img:hover {
    box-shadow: 0px 0px 15px black;
}
div.gallery {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
div.gallery figure {
    flex-basis: auto;
    margin: .5rem 2% 0 0;
}
div.gallery figcaption {
    display: block;
    text-align: center;
    font-size: .8rem;
    color: #b64e11;
}
div.gallery img {
    width: 80%;
    height: auto;
}
div.gallery img:hover {
    box-shadow: 0px 0px 15px black;
}
div.gallery img:active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}
div.gallery:after {
    content: "";
    clear: both;
}
.column {
    float: left;
    width: 45%;
    padding: 10px;
    height: 50%;
    border: 1.5px solid #1A385A;
    margin: 5px;
}
.column1 {
    float: left;
    width: 100%;
    padding: 15px;
    height: 50%;
    border: 1.5px solid #1A385A;
    margin: 15px;
}
.column1 img {
    width: 100%;
    height: 100%;
}
.column2 {
    float: left;
    width: 60%;
    padding: 15px;
    height: 50%;
    border: 1.5px solid #1A385A;
    margin: 15px;
}
iframe {
    width: 100%
}
/*web Form stuff*/
.surveyform fieldset {
    border: 1px solid #161B7F;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.surveyform legend {
    color: #161B7F;
    font-size: .8rem;
}
.surveyform label{
    margin: .5rem;
}
.surveyform label, .surveyform select, .surveyform [type=text], .surveyform [type=tel], .surveyform [type=email], .surveyform textarea {
    display: block;
}
.surveyform [type=text], .surveyform [type=tel], .surveyform [type=email], .surveyform select, .surveyform textarea{
    border: 1px solid #161B7F;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: "Rowdies", sans-serif;
    font-weight: 200;
}
.surveyform textarea{
    height: 6rem;
}

.surveyform [type=submit]{
    background-color: #E46F44;
    border: none;
    padding: 1rem 2rem;
    border-radius: 19px;
    font-size: 1rem;
    font-weight: 700;
    color: #1A385A;
    margin: 1rem 0 0 1vw;
}
.surveyform [type=submit]:hover {
    box-shadow: 0px 0px 15px black;
}

.print-list {
    width: 100%;
    border-collapse: collapse;
}

.print-list th {
    background-color: #024873;
    color: white;
    padding: .5rem 2vw;
    text-align: left;
}
.print-list td {
    color: #593E49;
    padding: .4rem 2vw;
}
.print-list tr:nth-child(odd) {
    background-color: #eaeaea;
}
.print-list tr:hover {
    background-color: rgba(137,103,117,.2);
}


/* Footer stuff here */
footer {
    clear: both;
    background-color: #eaeaea;
    text-align: center;
    color: #161B7F;
    padding: 1rem 0;
    font-size: .8rem;
}
footer a {
    color: #024873;
}

header, nav, main, footer{
    max-width: 100rem;
    margin: 0 auto;
}