body {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

/* Header stuff here */
header {
    background-color: #eaeaea;
    padding: 1rem 2vw;
}
header h1 {
    margin: 0;
    color: #593E49;
}
header h2 {
    margin: 0;
    color: #593E49;
}

header p {
    margin: 0;
    color: #024873;
    letter-spacing: .5px;
}

/* nav stuff goes here */
nav {
    background-color: #41B853;
    
}
nav ul {
    list-style-type: none;
    padding: .5rem 2vw;
    margin: 0;
    display: flex;
}
nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #161B40;
    font-weight: 700;
    display: block;
    padding: .82rem 1.5rem;
}
nav li.active a {
    background-color: #024873;
    color: #f2b705
}
nav a:hover {
    color: #fff
}

/* stuff for the main */
main {
    padding: 1rem 2vw;
}
main h1 {
    color: #8D3FD0;
}
main h2 {
    color: #161B7F;
    margin-bottom: .2rem;
}
main h3 {
    color: #8D3FD0;
    margin-bottom: .2rem;
}
main p {
    color: #271B1C;
    margin: 0 0 .3rem 0;
}
main ol {
    padding: .5rem 3vw;
    background-color: #efefef;
    border: 1px solid #161B7F;
}
main dl dt {
    padding: .1rem 1vw;
    color: #8D3FD0;
    font-weight: 300;
    background-color: #c9cdd2;
    width: 11rem;
    border-radius: .5rem;
}
main dl dd {
    color: #161B7F;
    font-size: 1rem;
    background-color: #efefef;
}
main ul {
    list-style-type: square;
    background-color: #efefef;
    border: 1px solid #161B7F;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main address {
    font-style: normal;
    background-color: #41B853;
    padding: .5rem;
    width: 15.5rem;
    border: 1px solid #161B7F;
    border-radius: .5rem;
}
main a {
    color: #161B7F;
}
main a:hover {
    color: #f40058;
}

/* Footer stuff here */
footer {
    background-color: #eaeaea;
    text-align: center;
    color: #161B7F;
    padding: 1rem 0;
    font-size: .8rem;
}
footer a {
    color: #024873;
}